:root {
  --darkest: #242225;
  --lightest: #E1E0E8;
  --accent: #BC5536;
  --light: #C4C4CA;
  --dark: #545456;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;

  color: var(--lightest);
  background-color: var(--darkest);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.8rem;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.button-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  gap: 48px;
}

.button {
  height: 24px;
  width: 120px;
  border: none;
  border-radius: 2px;
  background-color: var(--accent);
  color: var(--lightest);
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  box-shadow: 0 1px 4px #111;
  transition: all 0.6s ease;
}

.button_secondary {
  background-color: var(--darkest);
}

.button_dark {
  background-color: var(--dark);
}

.button_sm {
  width: 50px;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    box-shadow: 0 1px 4px var(--dark);
    cursor: pointer;
  }
}

.button:disabled {
  background-color: var(--darkest);
  color: var(--dark)
}

.button:disabled:hover {
  box-shadow: none;
  cursor: auto;
}
