:root {
  --darkest: #242225;
  --lightest: #E1E0E8;
  --accent: #BC5536;
  --light: #C4C4CA;
  --dark: #545456;

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 62.5%;

  color: var(--lightest);
  background-color: var(--darkest);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

input, button, select, option {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
}

select {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: transparent;
  color: var(--lightest);
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 0;
}

fieldset {
  border: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Remove the default arrows from input number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: inherit;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }
}

