:root {
  --darkest: #242225;
  --dark: #545456;
  --light: #C4C4CA;
  --lightest: #E1E0E8;
  --accent: #BC5536;

  --primary: var(--lightest);
  --secondary: var(--light);
  --tertiary: var(--darkest);
  --font-color: var(--dark);

  font-size: 62.5%;
}

:root:has(> body.dark) {
  --primary: var(--darkest);
  --secondary: var(--dark);
  --tertiary: var(--lightest);
  --font-color: var(--light);
}

body {
  transition: background-color .2s;
}

* {
  color: var(--font-color);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary);
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--tertiary);
}

h1 {
  font-size: 2.8rem;
}

h2, h3, h4 {
  font-size: 1.8rem;
}

select {
  background-color: transparent;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;
}

fieldset {
  border: none;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Remove the default arrows from input number fields */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: inherit;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    cursor: pointer;
  }
}

